:root{
    --Cyan: hsl(179, 62%, 43%);
    --Cyan2: rgba(42, 178, 175, 0.8);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 1rem;
}

body{
  font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);
    display: grid;
    justify-items: center;
}

.grid {
    margin: 8vh 5vw;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 3px 10px 10px 0px var(--grayish-blue);
}
header {
    background-color: white;
    padding: 40px 26px;
}

h1 {
    color: var(--Cyan);
    letter-spacing: 1px;
    font-size: 150%;
}
header h2 {
    padding-block: 30px;
    color: var(--bright-yellow);
    font-size: 110%;
}

header p {
    line-height: 1.9;
    color: var(--grayish-blue);
    font-size: 90%;
}

section.subscription {
    background-color: var(--Cyan);
    padding: 30px 26px;
    color: white;
    display: grid;
}

.subscription h2 {
    font-weight: 500;
}

.subscription .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5vw;
    margin-block: 37.5px;
    font-size: 110%;
    width: max-content;

}

.flex p:first-child {
    font-size: 200%;
}

.flex span {
    color: var(--light-gray);
    font-weight: 100;
}

.flex p:last-child {
    font-weight: 100;
    color: var(--light-gray);
}

.subscription button {
    padding-block: 2vh;
    background-color: var(--bright-yellow);
    border: none;
    color: white;
    font-size: 110%;
    font-family: 'Karla', sans-serif;
    border-radius: 20px;
}

.whyUs {
    color: white;
    background-color: var(--Cyan2);
    padding: 30px 26px;
}

.whyUs h2 {
    margin-block-end: 20px;
}

.whyUs pre {
    color: var(--light-gray);
    line-height: 1.6;
    width: max-content;
}



@media (min-width:1243px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        margin: 18vh 26vw;
    }

    header {
        grid-column: 1/-1;
        padding-inline: 40px 2vw;
        font-size: 120%;
    }

    main {
        grid-column: 1/-1;
        display: flex;
    }

    section.subscription {
        flex-grow: 1;
    } 

    .subscription .flex {
        display: grid;
    }

    section.whyUs {
        flex-grow: 1;

    } 
}